/*-----------------------------------------------------
* Reset & Base
*----------------------------------------------------*/
*, body, div, ul, li {margin:0;padding:0;}
a {text-decoration: none;}
div {position:relative;}
img {border:0}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}
* html .clearfix { height: 1%; }
//.clearfix { display: block; }
.clickable-link {
	display: block;
	text-indent: -9999em;
}
* { -webkit-text-size-adjust:none; max-width:100%; }
.container-close {
	background:#fff;
	.btn_close {
		width: 25%;
		padding: 2%;
		float: right;
	}
}

.input-default {
	margin: 0;
	padding: 0 3%;
	border: 1px solid #bebebe;
	background: #fff;
	font-size: 1.5em;
}

/*-----------------------------------------------------
* index.html.erb
*----------------------------------------------------*/

.top{
	position:relative;
	width: 100%;
}
.top_content{
	width: 100%;
	position:absolute;
	z-index:2;
}
.img_bg{
	width: 100%;
	z-index:1;
	img{
		width: 100%;
	}
}



.title img{
	width: 100%;
}
.container-btn_gift{
	padding:0 22%;
}
.container-btn_gift .btn_gift{
	width:100%;
}
.container-product img{
	width:100%;
}
.container-view {
	position:relative;
	width:100%;
	text-align:center;
	padding-top:62%;
	.container-product-detail{
		width:100%;
		position:absolute;
		top:83%;
		a img{
			width:30%;
		}
	}
	.view_bg{
		width:92%;
	}
}


.container-view img{
	width:100%;	
}

.container-sub_title img{
	width:100%;	
}

.container-sns{
	padding:0 5% ;
	div{
		padding:1% 0;
	}
}
.container-sns img{
	width:100%;
}

.container-sum-sns{
	.left{
		padding-top:76%;
		padding-left:5%;
		float:left;
		width:30%;
		img{
			width:47%;
		}
	}
	.right{
		width:45%;
		padding-top:76%;
		float:right;
		padding-right:5%;
	}
}





.footer{
	position:relative;
	width: 100%;
	margin-top:-1%;
	.footer_img{
		position:absolute;
		width: 23%;
		z-index:2;
		left:4%;
		top:73%;
		a{
			display:block;
			width:100%;
		}
	}
	.bottom_bg{
		img{
			width: 100%;
		}
	}
}



/*-----------------------------------------------------
* product.html.erb
*----------------------------------------------------*/
#product {
	width: 100%;
	.text-top {
		width: 100%;
	}
}
/*-----------------------------------------------------
* birthday.html.erb
*----------------------------------------------------*/
#birthday {
	//  width: 480px;
	width: 100%;
	margin: 0 auto;
	background: asset-url("mobile/popup/bg_common.png");

  .popup-birthday_text-top {
    margin:20px 0 10px;
	text-align:center;
	img{
	 width: 80%;
		}	
	}

	.container-info {
		width: 80%;
		margin: 0 auto;
		padding: 3%;
		background: #fff;
		
		.container-text-top2{
			text-align:center;	
			padding:0 0 2%;
			.text-top2{
				width: 80%;
			}
		}
		.container-info-inner{
			width: 200px;
			margin: 0 auto;
		}

		.container-month {
			width: 50%;
			height: 10%;
			float:left;
			.select_month {
				width: 60%;
				margin-right: 5px;
				padding-left: 10px;
				float: right;
			}
		}

		.container-day {
			width: 50%;
			float:left;
			.select_day {
				width: 60%;
				margin-right: 3px;
				padding-left: 10px;
				float: left;
			}
			.label-day {
				float: left;
				padding: 7px 10px 0 0;
				width: 10%;
				display:block;
			}
		}
	}
	.container-text-guide{
		text-align:center;
		padding:10px 0 0;
		img{
			width:80%;
		}
  	
	}
	.container-name {
		padding-left: 21%;
		margin-bottom: 2%;
		margin-top:10px;
		.text_name {
			width: 10%;
			margin-right: 3%;
		}

		.info_input_name {
			width: 50%;
			height: 30px;
			font-size: 13px;
			-webkit-appearance: none;
			border-radius: 0;
		}
	}

	.container-phone {
		padding-left: 13%;
		.text_phone {
			width: 21%;
		}
		.info_input_call {
			width: 45%;
			height: 30px;
			font-size: 13px;
			-webkit-appearance: none;
			border-radius: 0;
		}
	}

	.container-terms-master {
		display:block;
		width:37%;
		margin:0 auto;
	}
	.container-terms-master.second {
		padding-top:10px;
	}
	.container-terms {
		padding-left: 13%;

		.text_terms {
			width: 50%;
			margin-right: 5%;
		}
		.info_input_agree {
			margin-bottom: -1%;
			width: 7%;
			height: 37px;
			background: #fff;
			border: 1px solid #bebebe;
			-webkit-appearance: none;
			-moz-appearance: none;
			-o-appearance: none;
		}
	}
}
.label-month {
	float: right;
	padding: 7px 10px 0 0;
	width: 10%;
	display:block;
}

/*-----------------------------------------------------
* term.html.erb
*----------------------------------------------------*/
.container-close-edited {
	margin: 0;
	padding: 0;
	background: #fff;
  
	.btn_close {
		float: right;
	}
}
#terms {
	margin: 0;
	padding: 20px;
	color: #333;
	font-family: 'Dotum';
	font-size: 13px;
	line-height: 15px;
	word-break: break-all;
	white-space: pre-line;
	background: asset-url("mobile/popup/bg_common.png");
}


/*-----------------------------------------------------
* thanks.html.erb
*----------------------------------------------------*/
#thanks {
	width: 100%;
	height:100%;
	margin: 0 auto;
	background: asset-url("mobile/popup/bg_common.png");
	.inner{
		padding:10% 0;
	}
	.text_thanks {
		padding-left: 22%;
		width: 55%;
	}

	.btn_finish {
		margin-top: 5%;
		padding-left: 30%;
		width: 40%;
	}
}

/*-----------------------------------------------------
* duplication.html.erb
*----------------------------------------------------*/
#duplication {
	width: 100%;
	height:100%;
	margin: 0 auto;
	background: asset-url("mobile/popup/bg_common.png");
	.inner{
		padding:10% 0;
	}
	.text_duplicate {
		width: 70%;
		padding-left: 15%;
	}

	.btn_duplicate {
		width: 40%;
		margin-top: 6%;
		padding-left: 30%;
	}
}

/*-----------------------------------------------------
* coupon.html.erb
*----------------------------------------------------*/
#coupon {
	width: 600px;
	margin: 0 auto; 
}

/*-----------------------------------------------------
* thanks.html.erb
*----------------------------------------------------*/


/*-----------------------------------------------------
* coupon.html.erb
*----------------------------------------------------*/
#coupon {
	width: 480px;
	margin: 0 auto; 
}
#coupon .text_coupon {
	width: 70%;
	padding-left: 15%; 
}
#coupon .container-buttons {
	margin-top: 5%;
	padding-left: 10%; 
}
#coupon .container-buttons .btn_coupon_use {
	width: 42%;
	margin-right: 3%; 
}
#coupon .container-buttons .btn_coupon_notuse {
	width: 42%; 
}

/*-----------------------------------------------------
* coupon_success.html.erb
*----------------------------------------------------*/
#coupon_success {

	width: 480px;
	margin: 5% auto 0 auto;
	padding: 0; 
}
.container-logo {
	margin-bottom: 30px;
	padding-left:10px;
}
.container-logo .logo {
	width: 80px; 
}
.coupon_tops{
	text-align:center;
	position:relative;
	.name {
		position: absolute;
		left: 10px;
		top: 0px;
		font-size: 18px;
		letter-spacing:-1px; 
		font-weight:bold;
		width:85px;
		text-align:right;
		@media (max-width: 320px) {
			width:75px; 
		}
	}
	.text_coupon_top {
		width:330px;
		@media (max-width: 320px) {
			width:290px;
		}
	}
}


		  
#coupon_success .container-product {
	margin-bottom: 5%;
	text-align:center;
}
#coupon_success .container-product .coupon_img{
	margin-bottom:10px;
}
#coupon_success .container-product .coupon_imgs {
	width: 330px;
	margin-bottom: 0; 
	@media (max-width: 320px) {
		width:290px;
	}
}
#coupon_success .text_product_caution {
	width: 300px; 
	@media (max-width: 320px) {
		width:250px;
	}
}
#coupon_success .bottom {
	margin:10px 0;
	padding: 20px 0;
	background: white;
	text-align:center;
}
#coupon_success .bottom .text_coupon_caution2 {
	width: 290px; 
	@media (max-width: 320px) {
		width:265px;
	}
}
#coupon_success .bottom .btn_coupon_use_before {
	margin-top: 5%;
	width: 90%; 
}
#coupon_success .bottom .btn_coupon_use_after {
	margin-top: 5%;
	width: 90%; 
}


.icheckbox_minimal{
	-ms-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
}



.agree_checkbox{
	float:left;
}

.text_terms{
	float:left;
}
.container-terms{
	padding-top:3%;
	width: 50%;
	float:left;
}

.container-detail-terms{
	width: 30%;
	float:left;
}

.container-coupon{
//  width:180px;
width: 50%;
  margin:0 auto;
  padding:15px;
  input{
//	  width:180px;
		width: 100%;
	}
}

.container-text_caution{
	background:#c6d6da;
	padding: 20px;
	.text_caution{
		width: 85%;
	}	
}


.info_input_radio{
	margin-top: 5px;
	margin-left: 10px;
	float: left;
	border-radius: 0;
	box-shadow: none;
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.text_terms{
	float: left;
	//  width: 90px;
  width: 40%;
  padding-top: 7px;
}
.text_terms2{
  float: left;
//  width: 110px;
	width: 50%;
  padding-top: 7px;
}


.detail_terms{
//  width: 82px;
width: 33%;
}
.error{
  
}
.check_error{
	float: left;
}
.field_with_errors {
	display: inline;
}

.info_birth_date{
	width:75%;
	margin:0 auto;
//	padding-left:23%;
}

.select_month{
	width: 100%;
}
