<div id="carousel" class="owl-carousel">
  <div>
		<p>hello</p>
    <%#= link_to(image_tag("mobile/btn_facebook.png"),"http://www.evezary.co.kr/2012_new/product/product_view.asp?seq=9622&lar_cd=02&mid_cd=02") %>
  </div>
  <div>
		<p>hello</p>
    <%#= link_to(image_tag("mobile/btn_kakaostory.png"),"http://www.evezary.co.kr/2012_new/product/product_view.asp?seq=9629&lar_cd=02&mid_cd=02") %>
  </div>
  <div>
		<p>hello</p>
    <%#= link_to(image_tag("mobile/btn_kakaotalk.png"),"http://www.evezary.co.kr/2012_new/product/product_view.asp?seq=9629&lar_cd=02&mid_cd=02") %>
  </div>
</div>