<div id="coupon_success">
	<div class="container-img">
		<%= image_tag("mobile/new/bg_coupon.png") %>
	</div>
	<div class="bottom">
		<%= image_tag("mobile/text_coupon_caution2.png", class:"text_coupon_caution2") %>
		<%= image_tag("mobile/btn_coupon_use_after.png", class:"btn_coupon_use_before") %>
	</div>

</div>